@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto&display=swap");

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: stretch;
  height: 48px;
  border-bottom: 1px solid #eee;
}

.nav-logo-container {
  width: 106px;
  text-align: center;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
}

.nav-logo-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fa-search {
  color: #aaaaaa;
}

.fa-bars {
  color: #f42;
}

.nav-logo-container img {
  width: 66px;
  height: 16px;
}

.nav-top-links-container,
.nav-bottom-links-container {
  display: flex;
  justify-content: space-between;
}

.nav-top-links-container {
  height: 32px;
  display: none;
}

.nav-bottom-links-container {
  height: 48px;
  align-items: flex-end;
  border: 1px solid #eee;
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-bottom-left-links {
  visibility: hidden;
}

.nav-bottom-right-links {
  display: flex;
}

.nav-bottom-right-links > a {
  display: flex;
  border-left: 1px solid #eee;
  justify-content: center;
  text-decoration: none;
  height: 48px;
  align-items: center;
  width: 48px;
}

.nav-bottom-right-links i {
  margin: 0 auto;
  height: 16px;
  width: 16px;
}

.nav-bottom-left-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-bottom-left-links > a {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #aaa;
  padding: 0 12px;
  width: auto;
  justify-content: center;
}

.nav-top-left-links,
.nav-top-right-links {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.nav-top-left-links > a,
.nav-top-right-links > a {
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  margin-left: 20px;
}

.nav-top-left-links > a:hover {
  color: white;
}
@media (min-width: 768px) {
  nav {
    height: 80px;
  }

  .nav-bottom-right-links a:nth-child(2) {
    display: none;
  }

  .nav-top-links-container {
    display: flex;
    background-color: rgb(19, 19, 19);
  }

  .nav-bottom-left-links {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .nav-logo-container {
    display: none;
  }
}
/* end of the navbar styling */
